/* See the documentation for how to load in regular weight versions */
@font-face {
	font-family: 'Benton';
	src: url('https://s3.amazonaws.com/nj-apps/fonts-Benton/BentonSans-Regular_sOT.otf') format('otf'),
	url('https://s3.amazonaws.com/nj-apps/fonts-Benton/BentonSans-Medium_sOT.otf') format('otf');
    font-weight: 600;
}
.graphicDiv{
	background-color: #ccc;
	width:100%;
	min-height: 550px;
}

